<script lang="javascript" src="/javascripts/registration/registration.js" defer></script>
<h1>My Registrations</h1>
<p style="margin:12px 0;">
    <a class="btn btn-primary bg-blue-500 hover:bg-blue-400" onclick="openRegisterDialog()"> Register new event</a>
</p>

{{#if registrations.length}}
    <table>
        <thead>
            <tr style="text-align:left; border-bottom:1px" >
                <th style="padding:8px">Event</th>
                <th style="padding:8px">Status</th>
                <th style="padding:8px">Registered On</th>
                <th style="padding:8px">Actions</th>
            </tr>
        </thead>
        <tbody>
            {{#each registrations}}
            <tr style="border-bottom: 1px solid #eee">
                <td style="padding:8px">
                    {{#if this.event}}
                        {{this.event.name}}
                        {{else}}
                        <em>Event Deleted</em>
                    {{/if}}
                </td>

                <td style="padding:8px">
                    {{#if this.event}}
                    {{this.event.type}}
                    {{/if}}
                </td>

                <td style="padding:8px">
                    {{#if this.event}}
                        {{#if (eq this.event.remaining 0)}}
                             <span style="padding:2px 8px; border-radius:12px; background:#ffe5e5; color:#a40000;">Sold Out</span>
                        {{else}}
                            <span style="padding:2px 8px; border-radius:12px; background:#e8f5e9; color:#1b5e20;">Active</span>
                        {{/if}}
                    {{/if}}
                </td>

                <td style="padding: 8px">
                    {{this.createdAt}}
                </td>

                <td style="padding:8px;">
                    {{#if this.event}}
                    <a href="/register?eventId={{this.event.id}}" class="btn">Register again</a>
                    {{/if}}
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{else}}
{{/if}}
<style>
  .btn { display:inline-block; padding:8px 12px; border:1px solid #ccc; border-radius:8px; text-decoration:none; }
  .btn:hover { background:#f2f2f2; }
  .btn-primary { border-color:#0d6efd; background:#0d6efd; color:#fff; }
  .btn-primary:hover { filter:brightness(1.05); }
</style>

<script src="https://cdn.jsdelivr.net/npm/@tailwindplus/elements@1" type="module"></script>
<el-dialog>
  <dialog id="registerDialog" aria-labelledby="dialog-title" class="fixed inset-0 size-auto max-h-none max-w-none overflow-y-auto bg-transparent backdrop:bg-transparent">
    <el-dialog-backdrop class="fixed inset-0 bg-gray-500/75 transition-opacity data-closed:opacity-0 data-enter:duration-300 data-enter:ease-out data-leave:duration-200 data-leave:ease-in"></el-dialog-backdrop>
    <div tabindex="0" class="flex min-h-full items-end justify-center p-4 text-center focus:outline-none sm:items-center sm:p-0">
      <el-dialog-panel class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all data-closed:translate-y-4 data-closed:opacity-0 data-enter:duration-300 data-enter:ease-out data-leave:duration-200 data-leave:ease-in sm:my-8 sm:w-full sm:max-w-lg data-closed:sm:translate-y-0 data-closed:sm:scale-95">
        <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
          <div class="sm:flex sm:items-start">
            <div class="mx-auto flex size-12 shrink-0 items-center justify-center rounded-full bg-red-100 sm:mx-0 sm:size-10">
              <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6 text-red-600">
                <path d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126ZM12 15.75h.007v.008H12v-.008Z" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </div>
            <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
              <h3 id="dialog-title" class="text-base font-semibold text-gray-900">
                Please Paste Your Code
              </h3>
            </div>
          </div>
          <div class="mt-2">
            <form action="/registrations/register" method="post">
            <p id="code" name="code" class="text-sm text-gray-500 w-full h-full border p-2" contenteditable="true"></p>
            </form>
          </div>
        </div>
        <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
          <button type="button" onclick="register()" class="inline-flex w-full justify-center rounded-md bg-blue-500 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-blue-600 sm:ml-3 sm:w-auto">Regist</button>
          <button type="button" onclick="closeRegisterDialog()" class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-xs inset-ring inset-ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto">Cancel</button>
        </div>
      </el-dialog-panel>
    </div>
  </dialog>
</el-dialog>